<div class="container">
  <h2>User info</h2>
  <% if @user.errors.any? %>
  <div class="warning">
    <h3><%= @user.errors.count %> error prohibited this book from being saved:</h3>
    <ul>
      <% @user.errors.full_messages.each do |mssage| %>
      <li><%= mssage %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= form_for @user do |f| %>
  <%= f.label :Name %>
  <%= f.text_field :name,class: 'box-top' %><br>
  <%= f.label :Image %><br>
  <%= f.attachment_field :profile_image %><br>
  <%= f.label :Introduction %>
  <%= f.text_area :introduction,class: 'box-top'%><br>
  <%= f.submit "Update User" %>
  <% end %>
</div>
