<h2>User info</h2>
<table>
  <tbody>
    <tr><%= attachment_image_tag @user,:profile_image_id, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></tr>
    <tr><td>name</td><td><%= @user.name %></td></tr>
    <tr><td>introduction</td><td><%= @user.introduction %></td></tr>
  </tbody>
</table>
<% if @user.id == current_user.id %>
  <%= link_to "edit", edit_user_path(current_user.id) %>
<% else %>
  <% redirect_to user_path(@user)%>
<% end %>

<h2>New York</h2>
<%= form_for(@book,url:books_path) do |f| %>
  <div class="field">
    <%= f.label :Title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :option %><br />
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Create Book" %>
  </div>
<% end %>

<h2>Users</h2>

<table>
  <tbody>
    <% @users.each do |users|%>
    <tr><td>image</td><td>name</td></tr>
    <tr>
      <td><%= attachment_image_tag @user,:profile_image, :fill, 20, 20, format: 'jpeg', fallback: "no_image.jpg" %></td>
      <td><%= users.name %></td>
      <td><%= link_to 'Show',user_path(users.id)%></td>
    </tr>
    <% end %>
  </tbody>
</table>
