<h2>User info</h2>
<table>
  <tbody>
    <tr><%= attachment_image_tag @user,:profile_image_id, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></tr>
    <tr><td>name</td><td><%= current_user.name %></td></tr>
    <tr><td>introduction</td><td><%= current_user.introduction %></td></tr>
  </tbody>
</table>
  <%= link_to "edit", edit_user_path(@user) %>

<h2>New York</h2>
<%= form_for(@book,url:books_path) do |f| %>
  <div class="field">
    <%= f.label :Title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :option %><br />
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Create Book" %>
  </div>
<% end %>

<h2>Book detail</h2>
<table>
  <tbody>
    <% @books.each do |books| %>
    <tr><td></td><td>Title</td><td>Opinion</td></tr>
    <tr>
      <td><%= attachment_image_tag @user,:profile_image_id, :fill, 20, 20, format: 'jpeg', fallback: "no_image.jpg" %><td>
      <td><%= link_to books.title,book_path(books) %></td>
      <td><%= books.body %></td>
    </tr>
    <% end %>
  </tbody>
</table>
