    <div class="col-xs-3">
      <h2>User info</h2>
      <table class="table">
        <tbody>
          <tr><%= attachment_image_tag @user,:profile_image, :fill, 90, 90, format: 'jpeg', fallback: "no_image.jpg" %></tr> 
          <tr><td>name</td><td><%= @user.name %></td></tr>
          <tr><td>introduction</td><td><%= @user.introduction %></td></tr>
        </tbody>
      </table>
      <%= link_to '', edit_user_path(@user), class: 'btn btn-default btn-block glyphicon glyphicon-wrench' %>

      <div class="form-group">
        <h2>New book</h2>
        <%= form_for(@book,url:books_path) do |f| %>
        <div class="field">
          <%= f.label :Title %><br />
          <%= f.text_field :title, class: 'form-control box-top' %>
        </div>

        <div class="field">
          <%= f.label :option %><br />
          <%= f.text_area :body, class: 'form-control box-top' %>
        </div>

        <div class="actions">
          <%= f.submit "Create Book",class: 'btn btn-primary btn-block' %>
        </div>
        <% end %>
      </div>
    </div>
